.app-container {
  display: flex;
  padding: 30px;
}

.profile-card-container {
  flex: 1;
}

.main-content {
  flex: 3;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
